<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>

<form action="/dictionary/search" method="post">
    <h4>Please enter the key</h4>
    <label>
        <input type="text" name="key">
    </label><br>
    <table>
<!--        <tr th:text="${search}">key</tr>-->

        <tr th:each="m : ${search}">
            <td th:text="${m}">key</td>
    </table>

    <p><input type="submit" value="Send"></p>

</form>

<form action="/dictionary/selection">
    <p><input type="submit" value="Back"></p>
</form>
</body>
</html>