<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Selecting a dictionary</title>
</head>
<body>


<form action="/dictionary/choiseDictionary"  target="_self">
    <label>
        <select  name="dictionaryFrom">
            <option value="0">select dictionary</option>

            <option th:each="language : ${array}"
                    th:value = "${language.id}"
                    th:utext= "${language.name}"></option>
        </select>
    </label>


    <label>
        <select  name="dictionaryTo">
            <option value="0">select dictionary</option>

            <option th:each="language : ${array}"
                    th:value = "${language.id}"
                    th:utext= "${language.name}"></option>
        </select>
    </label>
</form>







<form action="/dictionary/selection">
    <p><input type="submit"  value="Выбрать" ></p>
</form>

<form action="/dictionary/choiseSystem">
    <p><input type="submit"  value="Назад"></p>
</form>

</body>
