<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Selecting a systeam</title>
</head>
<body>
<h3>Choose a system</h3>

<form action="/dictionary/selection" method="post" target="_self">
    <label>
        <select name="systemChoice">
            <option value="map">map</option>
            <option value="file">file</option>
            <option value="jdbc">database</option>
        </select>
    </label>

    <p><input type="submit" value="Send"></p>

</form>

</body>
</html>